<%- include('../partes/admin/left') %>


<div style="overflow-y:scroll;" class=" scrolledited col-lg-9 bg-white fullScreen pt-5 px-4">

    <div class="w-100 d-flex justify-content-between">

        <h1>Painel de cursos</h1>

        <button onclick="window.location.href='/admin/cursos/new'"
            class="mb-3 fsbutt border-0 redBg text-wrap text-white align-items-center justify-content-center text-center px-3 py-2 d-flex rounded-pill">
            <small> cadastrar novo curso</small>
        </button>
    </div>
    <!-- <p>Vê ate onde estamos</p> -->

    <div class="mb-3 fs-6 fsbutt border  py-2 bg-light text-wrap text-dark py-1 px-3 rounded-3">
        Existem disponíveis <small data-bs-toggle="modal" class="redTxt fw-bold cp" data-bs-target="#exampleModalCenteredScrollable" > 5 categorias</small>
      </div>
    <!--Modal-->
    <div class="modal animated-fast bounceInLeft rad15"id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content rad15" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Categorias</h5>
              <a class="textpadraoblue cp" onclick="document.querySelector('.formcateg').classList.toggle('active');
              document.querySelector('.saveCat').classList.toggle('active');">Adicionar +</a>
            </div>
            <div class="modal-body">
            
              <h6 class="mb-3 text-muted">Categorias cadastradas</h6>
            <div class=" d-flex flex-wrap">
                  <p class="rounded-pill border mb-1 me-1 py-1 px-3">Contabilidade</p>
              <p class="rounded-pill border mb-1 me-1 py-1 px-3">Administração</p>
              <p class="rounded-pill border mb-1 me-1 py-1 px-3">Desenvolvimento Pessoal e Profissional</p>
              <p class="rounded-pill border mb-1 me-1 py-1 px-3">Tecnologia</p>
              <p class="rounded-pill border mb-1 me-1 py-1 px-3">Design Gráfico</p> 
            </div> 
            

            <div>
                <div class="formcateg animated-fast fadeIn border-top mt-3 py-3 d-none">
                  <label for="catadd"><h6 class="mb-1 text-muted">Adicione uma nova categoria</h6></label>
                      <input type="text" oninput="if(this.value){ document.querySelector('.saveCat').classList.remove('disabled')  }else{ document.querySelector('.saveCat').classList.add('disabled') }" id="catadd" class="form-control py-2 rounded-pill" placeholder="insira a nova categoria...">
                </div>
            </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Fechar</button>
               <button type="button" class="saveCat d-none py-2 fw-bold redBg disabled px-3 border-0 btn rounded-pill">Salvar nova categoria</button>   
              </div>
          </div>
        </div>
    </div>

    <div class="shadow border mt-4">
        <table class="w-100 redBg" style=" text-indent: 15px;">
            <p class="redBg mb-0 py-2 w-100 text-center text-white rounded-top">Cursos cadastrados</p>
            <thead>
                <tr style="height: 35px;" class="border-bottom bg-dark text-white">
                    <th>Curso</th>
                    <th>Instrutor</th>
                    <th>Acão</th>
                </tr>
            </thead>

            <tbody class="lead bg-white fs-6">
                <% cursos.forEach(curso => { %>
                <tr style="height: 35px;" class="border-bottom">
                    <td><%= curso.nomeCurso %></td>
                    <td><%= curso.name %> </td>
                    <td><a href="/admin/ocurso"><img
                                src="https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-eye-6.png"
                                style="height: 20px;" alt=""></a>, <a href=""><img
                                src="https://cdn-icons-png.flaticon.com/128/1827/1827933.png" style="height: 20px;"
                                alt=""></a>, <a href=""></a><img
                            src="https://cdn-icons-png.flaticon.com/128/1214/1214428.png" style="height: 20px;"
                            alt=""></a></td>
                </tr>
                <%}) %>
            </tbody>
        </table>
    </div>

</div>
</div>
</div>

<script>
    const handleSubmit = (e) => {
        e.preventDefault()
        Toastify({
            text: "Cadastro efectuado com sucesso!",
            duration: 3000,
            destination: "/",
            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function () {} // Callback after click
        }).showToast();
    }
</script>

<script src="../js/js.js"></script>
<script src="../js/all.js"></script>
<script src="../bootstrap-5.1.3/bootstrap-5.1.3/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>