<%- include('../partes/admin/left') %> 


            <div style="overflow-y:scroll;" class=" scrolledited col-lg-9 bg-white fullScreen pt-5 px-4">

                <div class="w-100 d-flex justify-content-between">

                    <h1>Painel de cursos</h1>

                    <button onclick="window.location.href='/admin/cursos/new'"
                        class="mb-3 fsbutt border-0 redBg text-wrap text-white align-items-center justify-content-center text-center px-3 py-2 d-flex rounded-pill">
                        <small> cadastrar novo curso</small>
                    </button>
                </div>
                <!-- <p>Vê ate onde estamos</p> -->

                <div class="shadow border mt-4">



                    <table class="w-100 redBg"  style=" text-indent: 15px;">
                        <p class="redBg mb-0 py-2 w-100 text-center text-white rounded-top">Cursos cadastrados</p>
                        <thead>
                            <tr style="height: 35px;" class="border-bottom bg-dark text-white">
                                <th>Nome do curso</th>
                                <th>Nome do instrutor</th>
                                <th>Acão</th>
                            </tr>
                        </thead>

                        <tbody class="lead bg-white fs-6">
                            <% cursos.forEach(curso => { %>
                                <tr  style="height: 35px;" class="border-bottom">
                                    <th><%= curso.nomeCurso %> </th>
                                    <th><%= curso.name %> </th>
                                    
                                    <th><a href=""><img src="https://cdn-icons-png.flaticon.com/128/1827/1827933.png" style="height: 20px;" alt=""></a>, <a href=""><img src="https://cdn-icons-png.flaticon.com/128/1214/1214428.png" style="height: 20px;" alt=""></a></th>
                                </tr>
                            <%}) %> 
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
    <script>
        const handleSubmit = (e) => {
            e.preventDefault()
            Toastify({
                text: "Cadastro efectuado com sucesso!",
                duration: 3000,
                destination: "/",
                newWindow: true,
                close: true,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                },
                onClick: function () { } // Callback after click
            }).showToast();
        }
    </script>

    <script src="../js/js.js"></script>
    <script src="../js/all.js"></script>
    <script src="../bootstrap-5.1.3/bootstrap-5.1.3/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>