<%- include('../partes/admin/left') %> 

            <div class="col-lg-9 justify-content-center bg-white fullScreen pt-5 px-5 d-flex flex-column">


                <h1>É um prazer tê-lo de volta!</h1>
                <p>Vê ate onde estamos</p>

                <div class="row mb-3">
                    <div class=" col-md-4 text-center">
                        <div class="card py-3 px-5 shadow-sm" style="border-radius: 15px;">
                            <small class="fw-bold fs-3"><%= cursos.length %> </small>
                            <p>Cursos</p>
                        </div>
                    </div>
                    <div class=" col-md-4 text-center">
                        <div class="card py-3 px-5 shadow-sm" style="border-radius: 15px;">
                            <small class="fw-bold fs-3"><%= alunos.length %> </small>
                            <p>Alunos</p>
                        </div>
                    </div>
                    <div class=" col-md-4 text-center">
                        <div class="card py-3 px-5 shadow-sm" style="border-radius: 15px;">
                            <small class="fw-bold fs-3"><%= professor.length %> </small>
                            <p>Instrutores</p>
                        </div>
                    </div>


                </div>

                <div class="shadow" style="border-radius: 15px;">
                    <div class="row">
                        <div class="px-5 pt-5 pb-4 col-md-6">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi minus quasi voluptas magni
                            unde eum nemo doloremque. Minima ipsam veniam fugiat sed. Sed vitae aperiam accusantium
                            tempore sit! Quia, quaerat?
                        </div>
                        <div class="px-5 pt-5 pb-4 col-md-6">
                            <p class="fw-bold fs-5">Razões para continuar connosco...</p>
                            <div>
                                <p class="d-flex small"><span
                                        class="bg-secondary p-2 rounded-pill d-flex align-items-center justify-content-center me-2 text-white small"
                                        style="height: 33px; width: 45px;">1</span> Lorem ipsum dolor, sit amet
                                    consectetur adipisicing elit. Repellendus ad facere.</p>
                                <p class="d-flex small"><span
                                        class="bg-secondary p-2 rounded-pill d-flex align-items-center justify-content-center me-2 text-white small"
                                        style="height: 33px; width: 45px;">1</span> Lorem ipsum dolor, sit amet
                                    consectetur adipisicing elit. Repellendus ad facere.</p>
                                <p class="d-flex small"><span
                                        class="bg-secondary p-2 rounded-pill d-flex align-items-center justify-content-center me-2 text-white small"
                                        style="height: 33px; width: 45px;">1</span> Lorem ipsum dolor, sit amet
                                    consectetur adipisicing elit. Repellendus ad facere.</p>
                                <p class="d-flex small"><span
                                        class="bg-secondary p-2 rounded-pill d-flex align-items-center justify-content-center me-2 text-white small"
                                        style="height: 33px; width: 45px;">1</span> Lorem ipsum dolor, sit amet
                                    consectetur adipisicing elit. Repellendus ad facere.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        const handleSubmit = (e) => {
            e.preventDefault()
            Toastify({
                text: "Cadastro efectuado com sucesso!",
                duration: 3000,
                destination: "/",
                newWindow: true,
                close: true,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "linear-gradient(to right, #00b09b, #96c93d)",
                },
                onClick: function () { } // Callback after click
            }).showToast();
        }
    </script>

    <script src="../js/js.js"></script>
    <script src="../js/all.js"></script>
    <script src="../bootstrap-5.1.3/bootstrap-5.1.3/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>