<%- include('../partes/header')%>

<body>
    <div class='container-fluid'>
        <div class="row">
            <div style=" height: '100vh'; color: white" class="col-md-3 BgpadraoBlue">
                <br />
                <div class="d-flex flex-column align-items-center">
                    <div class="">
                        <img src="" alt="Avatar" class="avatar" />
                    </div>
                    <div class=" m-1">
                        <h6 style=" color: white"><%= aluno.name%></h6>
                    </div>
                    <div>
                        <button  class="map-button1 btn"><FiEdit3 /> estatisticas geral</button><br /><br />
                        <button  class="map-button1 btn "><FiEdit3 /> perfil Empresarial</button><br /><br />
                        <button  class="map-button1  btn"><FiDelete />gestão de coletores</button><br /><br />
                        <button  class="map-button1  btn"><FiDelete /> tabela de notificação</button><br /><br />
                        <button class="map-button1  btn"><FiDelete /> registro de actividade</button><br /><br />
                    </div>
             
                    <div class="di">
                        <h6 setShow(true)} style=" color: white">sair</h6>
                    </div>
                    <div class="d-flex">
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="height: 100vh; overflow: scroll">
                <div class="shadow p-1 m-2 rounded d-flex  justify-content-between" style="background-color:white ">
                    <div>

                    </div>
                    <div>
                        <button class="btn btn-light m-1">Actualizar Perfil</button>
                        
                    </div>
                </div>
                <div class="shadow p-2 m-2 rounded" style="background-color:white">
                    Dados do Aluno
                </div>
                <div style="background-color:white" class="shadow p-2 m-2 rounded d-flex">
                    <div class="">
                        <img src="" alt="Avatar" class="avatar" />
                    </div>
                    <div class='m-3'>
                        <span>Dados</span>
                        <p class="fw-bolder">{c.name}</p>
                        <p class="fw-bolder">{c.username}</p>
                        
                    </div>
                    <div class='m-3'>
                        <span>Contactos</span>
                        <p class="fw-bolder">{c.email}</p>
                        <p class="fw-bolder">{c.whatsaap}</p>
                    </div>
                    <div class='m-3'>
                        <span>Area de Actuação</span>
                        <p class="fw-bolder">{empresa.provincia}</p>
                        <p class="fw-bolder">{empresa.cidade}</p>
                        <p class="fw-bolder">{empresa.bairro}</p>
                        <p class="fw-bolder">{empresa.rua}</p>
                    </div>
                    <div class='m-3'>
                        <span>Descrição</span>
                        <p class="fw-bolder">{empresa.name}</p>
                        <p class="fw-bolder">COLETOR</p>
                        <button class="btn btn-light">Password</button>
                    </div>
                </div>
            

            </div>
        </div>
    </div>
</body>
</html>