<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inefor Learning</title>
    <link rel="stylesheet" href="bootstrap-5.1.3/bootstrap-5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/hover.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700&display=swap"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>

<body class="scrolledited">


    <header>
        <nav id="asdfg" style="backdrop-filter: blur(20px);" class="navbar shadow navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="/assets/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  overflow-hidden" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"  href="#"aria-current="page" >Home</a>
                        </li>
                        <li class="nav-item  dropdown has-megamenu" >
                            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Cursos</a>
        


                            <div class="dropdown-menu megamenu" role="menu" data-bs-popper="none">
                                <div class="row g-3">
                                    <div>
                                        <div class="col-megamenu  animated-fast fadeIn py-5 container">
                                              <h4 class=" fw-bold">Cursos</h4>
                                            <ul class="list-unstyled d-flex flex-column">
                                                <a class="text-decoration-none text-muted  hvr-forward" href="#"><li class="py-3 border-bottom">Custom Menu</li></a>
                                                <a class="text-decoration-none text-muted  hvr-forward" href="#"><li class="py-3 border-bottom">Custom Menu</li></a>
                                                <a class="text-decoration-none text-muted  hvr-forward" href="#"><li class="py-3 border-bottom">Custom Menu</li></a>
                                                <a class="text-decoration-none text-muted  hvr-forward" href="#"><li class="py-3 border-bottom">Custom Menu</li></a>
                                                <a class="text-decoration-none text-muted  hvr-forward" href="#"><li class="py-3 border-bottom">Custom Menu</li></a>
                                                <a class="text-decoration-none text-muted  hvr-forward" href="#"><li class="py-3">Custom Menu</li></a>
                                            </ul>
                                        </div>  <!-- col-megamenu.// -->
                                    </div><!-- end col-3 -->
                       
                                </div><!-- end row --> 
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/sobre" class="nav-link">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/suporte">Suporte</a>
                        </li>
                    </ul>
                    <form class="button-form" onclick="window.location='/login'">
                        <div class="button-box d-flex">
                            <button class="btn-sign signin" type="button">Entrar</button>
                            <button class="btn-sign signup" type="button">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <section class="hero yyy pt-5">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md">
                    <h1 class="display-4 fw-bold">Comece hoje, e desenvolva sua carreira</h1>
                    <h1 class="lead display-6 py-3 w-75">O seu Futuro é a nossa Missão</h1>
                    <a href="/login" class="btn mt-4 btn-primary">Começar</a>
                </div>
                <div class="col-md text-center">
                    <a href="#" class="play"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </section>



    <div>
        <div class="mb-5 py-5 mt-5 container">
            <p>Área de interesses</p>
            <div class="mb-5 d-flex justify-content-between align-items-center">
                <h3 class="fw-bold">Aprenda mais sobre:</h3>
                <div class="w-75">
                    <div class="redBg" style=" height: 11px; width: 94%;"></div>
                    <div class="BgpadraoBlue ms-4" style="height: 11px; width: 91.5%;"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div
                        class="card hvr-float border-0 pt-5 pb-5 shadow d-flex justify-content-center align-items-center p-4 mb-3">
                        <svg width="75" height="72" xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                            style="enable-background:new 0 0 512 512" viewBox="0 0 512 512" y="0" x="0" height="512"
                            width="512" version="1.1">
                            <g>
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m376.242 456.919h-56.113c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h56.113c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z" />
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m392.274 424.854h-56.113c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h56.113c4.142 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z" />
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m55.597 87.145h40.081c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-40.081c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z" />
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m103.177 111.709c0-4.142-3.358-7.5-7.5-7.5h-40.08c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h40.081c4.141 0 7.499-3.357 7.499-7.5z" />
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m231.952 87.145h40.081c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-40.081c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5z" />
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m279.532 111.709c0-4.142-3.358-7.5-7.5-7.5h-40.081c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h40.081c4.142 0 7.5-3.357 7.5-7.5z" />
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m493.771 42.277-40.081-40.08c-1.406-1.407-3.314-2.197-5.303-2.197h-64.129c-8.556 0-15.517 6.96-15.517 15.516v128.258c0 8.556 6.961 15.516 15.517 15.516h40.597v24.564c0 4.705-3.828 8.532-8.532 8.532h-138.023c-2.344-6.951-7.849-12.455-14.8-14.8v-18.297h40.597c8.556 0 15.516-6.96 15.516-15.516v-96.192c0-1.989-.79-3.897-2.197-5.303l-40.081-40.081c-1.406-1.407-3.314-2.197-5.303-2.197h-64.129c-8.556 0-15.516 6.96-15.516 15.516v128.258c0 8.556 6.96 15.516 15.516 15.516h40.597v18.297c-6.951 2.344-12.455 7.849-14.8 14.8h-138.023c-4.705 0-8.532-3.828-8.532-8.532v-24.564h40.597c8.556 0 15.517-6.96 15.517-15.516v-96.194c0-1.989-.79-3.897-2.197-5.303l-40.082-40.081c-1.406-1.407-3.313-2.197-5.303-2.197h-64.129c-8.556 0-15.516 6.96-15.516 15.516v128.258c0 8.556 6.96 15.516 15.516 15.516h40.597v24.564c0 12.976 10.557 23.532 23.532 23.532h138.023c2.344 6.951 7.849 12.455 14.8 14.8v50.292c-3.88-.33-7.487-1.991-10.272-4.778l-17.978-17.977c-5.958-5.958-13.881-9.24-22.308-9.24h-70.201c-17.396 0-31.548 14.152-31.548 31.548v208.419c0 17.394 14.149 31.545 31.542 31.548h.003 263.234c13.601 0 25.628-8.669 29.93-21.572l55.131-165.392c1.573-4.719.776-9.944-2.132-13.979s-7.614-6.444-12.588-6.444h-45.507v-.516c0-17.396-14.152-31.548-31.548-31.548h-96.195c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h96.195c9.125 0 16.548 7.423 16.548 16.548v.516h-137.306v-82.426c6.951-2.344 12.455-7.849 14.8-14.8h138.023c12.976 0 23.532-10.557 23.532-23.532v-24.564h40.597c8.556 0 15.516-6.96 15.516-15.516v-96.192c0-1.99-.79-3.897-2.197-5.304zm-214.239-16.671 14.474 14.474h-13.958c-.285 0-.516-.231-.516-.516zm-72.145 118.168v-128.258c0-.285.231-.516.516-.516h56.629v24.564c0 8.556 6.96 15.516 15.516 15.516h24.564v88.694c0 .285-.231.516-.516.516h-96.193c-.284.001-.516-.231-.516-.516zm-104.21-118.168 14.474 14.474h-13.958c-.285 0-.516-.231-.516-.516zm-72.145 118.168v-128.258c0-.285.231-.516.516-.516h56.629v24.564c0 8.556 6.96 15.516 15.516 15.516h24.565v88.694c0 .285-.232.516-.517.516h-96.193c-.284.001-.516-.231-.516-.516zm224.968 47.581c4.7 0 8.524 3.82 8.531 8.518 0 .005-.001.01-.001.014s.001.01.001.014c-.008 4.698-3.832 8.518-8.531 8.518-4.705 0-8.532-3.828-8.532-8.532s3.827-8.532 8.532-8.532zm205.732 128.472c.154.214.098.384.071.465l-55.131 165.392c-2.256 6.768-8.565 11.315-15.699 11.315h-263.231c-4.691 0-8.923-1.971-11.937-5.117l53.652-160.955c2.256-6.768 8.565-11.315 15.699-11.315h276.158c.085.001.264.001.418.215zm-276.576-15.214c-13.601 0-25.628 8.669-29.93 21.572l-44.033 132.098v-186.251c0-9.125 7.423-16.548 16.548-16.548h70.201c4.42 0 8.576 1.721 11.701 4.847l17.977 17.977c5.62 5.621 12.989 8.856 20.879 9.206v17.099zm270.731-279.007 14.474 14.474h-13.958c-.285 0-.516-.231-.516-.516zm24.565 118.685h-96.193c-.285 0-.517-.231-.517-.516v-128.259c0-.285.232-.516.517-.516h56.629v24.564c0 8.556 6.96 15.516 15.516 15.516h24.564v88.694c0 .285-.232.517-.516.517z" />
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m448.387 72.145h-40.081c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h40.081c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z" />
                                <path xmlns="http://www.w3.org/2000/svg" style="" data-original="#000000" fill="#e20c32"
                                    d="m448.387 104.209h-40.081c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5h40.081c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5z" />
                            </g>
                        </svg>
                        <p class="fs-6 text-center mt-3 fw-bold">Administração</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="card hvr-float border-0 pt-5 pb-5 shadow d-flex justify-content-center align-items-center p-4 mb-3">
                        <img src="assets/Capture2.PNG" height="75" alt="">
                        <p class="fs-6 text-center fw-bold mt-3">Contabilidade & Finança</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="card hvr-float border-0 pt-5 pb-5 pb-md-4  shadow d-flex justify-content-center align-items-center p-4 mb-3">
                        <img src="assets/Capture3.PNG" height="75" alt="">
                        <p class="fs-6 text-center mt-3 fw-bold">Desenvolvimento Pessoal e Profissional</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div
                        class="card hvr-float border-0 pt-5 pb-5 shadow d-flex justify-content-center align-items-center p-4 mb-3">
                        <img src="assets/Capture4.PNG" height="75" alt="">
                        <p class="fs-6 text-center mt-3 fw-bold">Tecnologia</p>
                    </div>
                </div>

            </div>
            <button class="btn hvr-forward redBg rounded-pill text-white mt-4 px-5">Mostrar Todos cursos</button>

        </div>

        <!-- style="height: 250px;" -->
        <div class="container-fluid mb-5 py-5 bg-light">
            <div class="container">
                <p>Cursos mais acessados</p>
                <div class="mb-5 d-flex justify-content-between align-items-center">
                    <h3 class="fw-bold w-100">Um deles pode ser <br> o caminho para o seu objectivo:</h3>
                    <div class="w-100">
                        <div class="bg-white" style=" height: 11px; width: 100%;"></div>
                        <div class="redBg ms-4" style=" height: 11px; width: 96.9%;"></div>
                        <div class="BgpadraoBlue ms-5" style="height: 11px; width: 93.8%;"></div>
                    </div>
                </div>





                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide pointer-event" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> CCTV mod. 1 </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold textpadraoblue">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold textpadraoblue">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> Excel </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque. </p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold textpadraoblue">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold textpadraoblue">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> CCTV mod. 1 </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> CCTV mod. 1 </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold textpadraoblue">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold textpadraoblue">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> Excel </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque. </p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold textpadraoblue">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold textpadraoblue">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> CCTV mod. 1 </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> CCTV mod. 1 </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold textpadraoblue">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold textpadraoblue">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> Excel </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque. </p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold textpadraoblue">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold textpadraoblue">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card bg-white mb-3 shadow" style="border-radius: 15px;">
                                            <div class="BgpadraoBlue py-3 text-center text-white fw-bold"
                                                style="border-radius: 15px;"> CCTV mod. 1 </div>
                                            <p class="px-3 lead fs-6 py-2"> Lorem ipsum dolor, sit amet consectetur
                                                adipisicing elit. Deserunt quas placeat, maxime magnam quod, rerum
                                                obcaecati consequuntur officiis nihil minima neque.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span>Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span>Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <button style="width:350px;" class="btn hvr-forward bored redTxt rounded-pill mt-4 px-5">Mostrar
                        Todos cursos</button>

                    <div class="d-flex w-100 justify-content-end">

                        <div class="w-50" style="margin-top: 50px; position: relative;">
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <i class="redTxt fas fa-long-arrow-alt-left fs-4"></i>
                            </button>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <i class="redTxt fas fa-long-arrow-alt-right fs-4"></i>

                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>







        <div class="mb-5 pt-5 container">
            <p>Diferenciais</p>
            <div class="mb-2 d-flex justify-content-between align-items-center">
                <h3 class="fw-bold w-50">Benefícios que você vai querer</h3>

            </div>

            <div class="row bg-light py-4">
                <div class="col-md-4">
                    <div
                        class="card border-0 pt-5 pb-5 bg-light d-flex justify-content-center align-items-center p-4 mb-3">
                        <i style="width: 60; height: 70;"
                            class="fas redTxt display-1 fa-hand-point-up mb-4 display-3"></i>
                        <h3 class="fw-bold w-50 text-center">Tudo a um click</h3>
                        <small class="text-center">Onde quer que esteja, seja qual dispositivo esteja usando, com apenas
                            um click tem acesso a toda a programação.</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div
                        class="card border-0 pt-5 pb-5 bg-light d-flex justify-content-center align-items-center p-4 mb-3">
                        <svg version="1.1" id="Layer_1" height="70" width="65" fill="#e20c32"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 103.12 122.88" style="enable-background:new 0 0 103.12 122.88"
                            xml:space="preserve">
                            <g>
                                <path
                                    d="M1.18,122.01C0.49,121.69,0,121,0,120.18V2c0-1.1,0.89-2,2-2H21.4h79.72c1.1,0,2,0.89,2,2v107.73 c0,0.11-0.01,0.21-0.02,0.31c-0.28,3.93-1.56,6.99-3.86,9.19c-2.3,2.18-5.53,3.4-9.72,3.64c-0.09,0.01-0.17,0.02-0.26,0.02H2.83 C2.15,122.88,1.54,122.53,1.18,122.01L1.18,122.01z M45.42,39.08c2.47,5.14,9.94,5.32,12.3,0.03c-0.64-0.65-1.12-1.35-1.6-2.04 c-0.08-0.11-0.16-0.23-0.23-0.34c-1.14,0.9-2.52,1.48-4.32,1.48c-1.94,0-3.41-0.75-4.61-1.85c-0.07-0.07-0.14-0.13-0.21-0.2 c-0.17,0.48-0.39,1.05-0.62,1.58C45.89,38.25,45.65,38.73,45.42,39.08L45.42,39.08L45.42,39.08z M58.41,38.54 c2.63,1.86,9.03,2.31,11.49,3.68c0.82,0.45,1.55,1.03,2.15,1.82c1.24,1.63,3.76,7.56-0.34,7.87H64l0.95-10.62 c-2.07-0.4-4.26-0.72-6.55-2.04c-1.41,6.21-11,7.1-13.76,0.17c-2.05,1.03-4.05,1.63-6.44,1.99l1.49,10.49h-8.28 c-4.1-0.31-1.57-6.24-0.34-7.87c0.59-0.78,1.33-1.36,2.15-1.82c2.45-1.37,8.82-1.82,11.47-3.66c0.19-0.29,0.4-0.72,0.6-1.18 c0.3-0.69,0.58-1.45,0.76-1.97c-0.74-0.87-1.37-1.85-1.98-2.82l-2-3.19c-0.73-1.09-1.11-2.09-1.14-2.91 c-0.01-0.39,0.05-0.74,0.2-1.04c0.15-0.32,0.38-0.59,0.69-0.8c0.14-0.1,0.31-0.18,0.49-0.25c-0.13-1.73-0.18-3.91-0.09-5.73 c0.04-0.43,0.13-0.87,0.25-1.3c0.51-1.83,1.8-3.3,3.39-4.32c0.88-0.56,1.84-0.98,2.84-1.26c0.63-0.18-0.09-1.61,0.57-1.68 c3.18-0.33,7.88,1.98,10.1,4.38c1.11,1.2,1.81,2.8,1.96,4.91l-0.13,5.2v0c0.56,0.17,0.91,0.52,1.06,1.09 c0.16,0.63-0.01,1.52-0.55,2.74l0,0c-0.01,0.02-0.02,0.04-0.03,0.07l-2.28,3.76c-0.84,1.38-1.69,2.77-2.8,3.86 c0.1,0.14,0.2,0.29,0.3,0.44c0.45,0.66,0.91,1.33,1.49,1.92C58.38,38.5,58.4,38.52,58.41,38.54L58.41,38.54L58.41,38.54z M43.45,25.32c-0.44,0.02-0.78,0.11-1.01,0.26c-0.13,0.09-0.23,0.2-0.29,0.33c-0.07,0.15-0.1,0.33-0.09,0.54 c0.02,0.61,0.34,1.41,0.95,2.33l0.01,0.01l2,3.19c0.8,1.28,1.65,2.58,2.69,3.54c1.01,0.92,2.23,1.54,3.84,1.55 c1.75,0,3.03-0.64,4.07-1.62c1.08-1.01,1.93-2.4,2.77-3.78l2.26-3.72c0.42-0.96,0.57-1.6,0.48-1.98c-0.06-0.22-0.3-0.33-0.73-0.36 c-0.09,0-0.18-0.01-0.27,0c-0.1,0-0.21,0.01-0.32,0.02c-0.06,0.01-0.12,0-0.17-0.01c-0.2,0.01-0.41,0-0.62-0.03l0.77-3.42 c-5.74,0.9-10.03-3.36-16.1-0.85l0.44,4.03C43.9,25.36,43.67,25.35,43.45,25.32L43.45,25.32L43.45,25.32L43.45,25.32z M70.47,108.18c-1.09,0-1.98-0.89-1.98-2c0-1.1,0.88-2,1.98-2h16.68c1.09,0,1.98,0.89,1.98,2c0,1.1-0.88,2-1.98,2H70.47 L70.47,108.18z M16.82,93.62c-1.09,0-1.98-0.89-1.98-2c0-1.1,0.88-2,1.98-2h70.5c1.09,0,1.98,0.89,1.98,2c0,1.1-0.88,2-1.98,2 H16.82L16.82,93.62z M17.14,79.06c-1.09,0-1.98-0.89-1.98-2c0-1.1,0.88-2,1.98-2h70c1.09,0,1.98,0.89,1.98,2c0,1.1-0.88,2-1.98,2 H17.14L17.14,79.06z M16.82,64.5c-1.09,0-1.98-0.89-1.98-2c0-1.1,0.88-2,1.98-2h30.13c1.09,0,1.98,0.89,1.98,2c0,1.1-0.88,2-1.98,2 H16.82L16.82,64.5z M54.64,64.5c-1.09,0-1.98-0.89-1.98-2c0-1.1,0.88-2,1.98-2h32.5c1.09,0,1.98,0.89,1.98,2c0,1.1-0.88,2-1.98,2 H54.64L54.64,64.5z M99.13,109.68V3.99H21.4H3.99v114.9h85.26l0.04,0c3.21-0.18,5.61-1.04,7.2-2.55 C98.06,114.85,98.93,112.62,99.13,109.68L99.13,109.68z">
                                </path>
                            </g>
                        </svg>
                        <h3 class="fw-bold w-50 mt-4 text-center mt-2">Currículo ideal</h3>
                        <small class="text-center">O currículo que todo o profissional sonha em ter.</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div
                        class="card border-0 pt-5 pb-5 bg-light d-flex justify-content-center align-items-center p-4 mb-3">
                        <svg version="1.1" height="70" width="60" fill="#e20c32" id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 96.17 122.88" style="enable-background:new 0 0 96.17 122.88"
                            xml:space="preserve">
                            <g>
                                <path
                                    d="M62.74,110.31l21.48-22.58H62.74V110.31L62.74,110.31z M48.08,14.31c1.3,0,2.57,0.13,3.8,0.37 c1.26,0.25,2.48,0.62,3.65,1.1c1.19,0.49,2.32,1.1,3.38,1.8c1.06,0.71,2.05,1.52,2.95,2.43c0.9,0.9,1.72,1.89,2.43,2.96 c0.7,1.05,1.31,2.18,1.8,3.37c0.48,1.17,0.86,2.39,1.11,3.65c0.24,1.23,0.37,2.5,0.37,3.8c0,1.3-0.13,2.57-0.37,3.8 c-0.25,1.26-0.62,2.48-1.11,3.65l-0.01,0.01c-0.49,1.18-1.09,2.31-1.8,3.36c-0.71,1.07-1.53,2.06-2.43,2.96 c-0.9,0.9-1.89,1.71-2.95,2.42c-1.06,0.7-2.19,1.31-3.37,1.8l-0.01,0c-1.16,0.48-2.38,0.85-3.63,1.1c-1.23,0.24-2.5,0.37-3.8,0.37 c-1.3,0-2.57-0.13-3.8-0.37c-1.26-0.25-2.48-0.62-3.65-1.11c-1.19-0.49-2.32-1.1-3.38-1.8c-1.06-0.71-2.06-1.52-2.95-2.42 c-0.9-0.9-1.71-1.89-2.43-2.96c-0.7-1.05-1.31-2.18-1.8-3.37c-0.48-1.16-0.86-2.39-1.11-3.65c-0.24-1.23-0.37-2.5-0.37-3.8 c0-1.3,0.13-2.57,0.37-3.8c0.25-1.26,0.62-2.48,1.11-3.65c0.49-1.19,1.1-2.32,1.8-3.37c0.71-1.06,1.53-2.05,2.43-2.96 c0.9-0.9,1.89-1.72,2.95-2.43c1.06-0.71,2.19-1.31,3.37-1.8l0.01,0c1.16-0.48,2.38-0.85,3.63-1.1 C45.52,14.44,46.79,14.31,48.08,14.31L48.08,14.31z M39.16,36.24c-0.17-0.19-0.31-0.4-0.4-0.62c-0.1-0.23-0.15-0.47-0.16-0.72 c-0.01-0.27,0.03-0.55,0.12-0.82c0.09-0.25,0.23-0.5,0.43-0.71l0.1-0.1c0.19-0.18,0.4-0.32,0.63-0.42c0.23-0.1,0.48-0.16,0.73-0.17 h0.01c0.27-0.01,0.55,0.03,0.81,0.12c0.25,0.09,0.49,0.23,0.7,0.42l0,0c0.71,0.68,1.47,1.36,2.23,2.03l0.93,0.84l8.65-9.05 c0.19-0.2,0.42-0.35,0.66-0.46c0.25-0.11,0.52-0.17,0.8-0.18h0.04c0.26,0,0.53,0.05,0.77,0.14c0.24,0.09,0.48,0.24,0.68,0.43 l0.04,0.04c0.2,0.19,0.35,0.42,0.46,0.66c0.11,0.25,0.17,0.53,0.18,0.8v0.04c0,0.26-0.05,0.53-0.14,0.77 c-0.1,0.25-0.24,0.48-0.43,0.68L46.93,40.51c-0.19,0.2-0.42,0.36-0.66,0.47c-0.25,0.11-0.52,0.18-0.79,0.19h-0.01 c-0.27,0.01-0.54-0.03-0.8-0.12c-0.25-0.09-0.49-0.23-0.7-0.41C42.46,39.22,40.55,37.71,39.16,36.24L39.16,36.24z M58.86,23.02 c-0.71-0.71-1.48-1.34-2.32-1.9c-0.82-0.55-1.71-1.03-2.63-1.41c-0.91-0.37-1.86-0.67-2.85-0.86c-0.96-0.19-1.96-0.29-2.98-0.29 c-1.02,0-2.02,0.1-2.98,0.29c-0.99,0.2-1.94,0.49-2.85,0.86c-0.92,0.38-1.8,0.85-2.63,1.41c-0.83,0.56-1.61,1.2-2.32,1.9 c-0.7,0.71-1.34,1.48-1.9,2.32c-0.55,0.82-1.03,1.71-1.41,2.63c-0.37,0.91-0.67,1.86-0.86,2.85c-0.19,0.96-0.29,1.96-0.29,2.98 c0,1.02,0.1,2.02,0.29,2.98c0.2,0.99,0.49,1.95,0.86,2.85c0.38,0.92,0.85,1.8,1.4,2.63c0.56,0.83,1.2,1.61,1.9,2.32 c0.71,0.71,1.48,1.34,2.32,1.9c0.82,0.55,1.71,1.03,2.63,1.41c0.91,0.38,1.86,0.67,2.85,0.86c0.96,0.19,1.96,0.29,2.98,0.29 c1.02,0,2.02-0.1,2.98-0.29c0.99-0.19,1.94-0.49,2.85-0.86l0.01,0c0.92-0.38,1.79-0.85,2.62-1.4c0.83-0.56,1.61-1.2,2.32-1.9 c0.71-0.71,1.35-1.48,1.9-2.32c0.55-0.82,1.02-1.7,1.4-2.63c0.37-0.91,0.67-1.86,0.86-2.85c0.19-0.96,0.29-1.96,0.29-2.98 c0-1.02-0.1-2.02-0.29-2.98c-0.2-0.99-0.49-1.95-0.86-2.85c-0.38-0.92-0.85-1.8-1.41-2.63C60.2,24.5,59.56,23.73,58.86,23.02 L58.86,23.02z M18.93,90.03h19.23v5.53H18.93V90.03L18.93,90.03z M18.93,75.98h27.29v5.53H18.93V75.98L18.93,75.98z M18.93,61.94 h58.3v5.53h-58.3V61.94L18.93,61.94z M96.17,84.85c0,1.63-1.1,3.04-2.6,3.45l-31.64,33.27c-0.66,0.81-1.66,1.32-2.76,1.32H6.43 c-1.79,0-3.39-0.72-4.55-1.88C0.72,119.84,0,118.24,0,116.45V6.43c0-1.79,0.72-3.39,1.88-4.55C3.04,0.72,4.67,0,6.43,0h83.31 c1.76,0,3.39,0.72,4.55,1.88c1.16,1.16,1.88,2.76,1.88,4.55V84.85L96.17,84.85z M88.99,80.55V7.18H7.18v108.55h48.38V84.16 c0-1.98,1.6-3.61,3.61-3.61H88.99L88.99,80.55z">
                                </path>
                            </g>
                        </svg>
                        <h3 class="fw-bold mt-4 w-50 text-center">Apto para o mercado</h3>
                        <small class="text-center">Profissionais capacitados para as exigências do mercado.
                        </small>.</small>
                    </div>
                </div>


            </div>

        </div>



        <div class="mb-5 py-3 container-fluid">

            <div class="row">
                <div class="col-md-5 py-5 px-5 redBg">
                    <small class="text-white-50">Trilhas de conhecimento</small>
                    <h3 class="text-white fs-2 mt-4 mb-4">Sequências de cursos preparadas para você se capacitar</h3>
                    <small class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quod quaerat
                        magnam nihil nostrum non omnis cum officia accusamus. Saepe exercitationem accusantium deleniti
                        quaerat voluptatibus rem, pariatur nostrum sint animi.</small>
                    <button style="font-size: 0.8em;"
                        class="btn d-block redTxt bg-white rounded-pill hvr-forward fw-bold mt-4 px-5">Mostrar todas as
                        trilhas </button>

                </div>
                <div class="col-md-7 py-5 BgpadraoBlue">


                    <div class="flex justify-center w-full md:justify-start lg:inline">
                        <div style="backdrop-filter:blur(10px);" class="rounded-lg w-64 px-5 mt-3 md:inline-block">


                            <div class="swiper mySwiper h-100">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="card py-5 px-5">
                                            <p class="fw-bold text-black">Contabilidade Geral</p>
                                            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Iste odio nisi
                                                dolorem pariatur numquam doloremque omnis.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span class="text-black fw-bold">Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span class="text-black fw-bold">Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card py-5 px-5">
                                            <p class="fw-bold text-black">Contabilidade Geral</p>
                                            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Iste odio nisi
                                                dolorem pariatur numquam doloremque omnis.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span class="text-black fw-bold">Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span class="text-black fw-bold">Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card py-5 px-5">
                                            <p class="fw-bold text-black">Contabilidade Geral</p>
                                            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Iste odio nisi
                                                dolorem pariatur numquam doloremque omnis.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span class="text-black fw-bold">Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span class="text-black fw-bold">Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card py-5 px-5">
                                            <p class="fw-bold text-black">Contabilidade Geral</p>
                                            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Iste odio nisi
                                                dolorem pariatur numquam doloremque omnis.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span class="text-black fw-bold">Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span class="text-black fw-bold">Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card py-5 px-5">
                                            <p class="fw-bold text-black">Contabilidade Geral</p>
                                            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Iste odio nisi
                                                dolorem pariatur numquam doloremque omnis.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span class="text-black fw-bold">Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span class="text-black fw-bold">Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card py-5 px-5">
                                            <p class="fw-bold text-black">Contabilidade Geral</p>
                                            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Iste odio nisi
                                                dolorem pariatur numquam doloremque omnis.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span class="text-black fw-bold">Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span class="text-black fw-bold">Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card py-5 px-5">
                                            <p class="fw-bold text-black">Contabilidade Geral</p>
                                            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Iste odio nisi
                                                dolorem pariatur numquam doloremque omnis.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span class="text-black fw-bold">Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span class="text-black fw-bold">Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="card py-5 px-5">
                                            <p class="fw-bold text-black">Contabilidade Geral</p>
                                            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Iste odio nisi
                                                dolorem pariatur numquam doloremque omnis.</p>
                                            <div class="d-flex justify-content-between px-3 pb-3">
                                                <div class="d-flex small">
                                                    <div style="border-right: 1px solid #00005a;" class="pe-3">
                                                        <span class="text-black fw-bold">Duração</span>
                                                        <br>
                                                        <span class="fw-bold redTxt">
                                                            40h </span>
                                                    </div>
                                                    <div class="ps-3">
                                                        <div>
                                                            <span class="text-black fw-bold">Nível</span> <br>
                                                            <span class="fw-bold redTxt">Iniciante</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <i class="fas fa-heart hvr-bounce-in fs-4 redTxt"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="swiper-pagination position-absolute"></div>



                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>














        <div class="mb-5 py-3 container">

            <div class="row">

                <div class="col-md-6 py-3">
                    <h3 class="fs-2 mt-4 mb-4">Perguntas frequêntes</h3>

                    <div class="bd-example pe-md-5">
                        <div class="accordion" id="accordionExample">
                            <div class="border-bottom border-0 accordion-item">
                                <h4 class="accordion-header" id="headingOne">
                                    <button class=" accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Como se inscrever para um curso? </button>
                                </h4>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample" style="">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae modi
                                        inventore soluta quae temporibus in eveniet id a quaerat corrupti tenetur saepe
                                        odio, ratione et veniam quidem, ipsa illo voluptas.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-bottom border-0">
                                <h4 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Como se inscrever para um curso?
                                    </button>
                                </h4>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam eius
                                        dignissimos tempora atque tenetur consectetur sunt fugit aliquid, maiores ex
                                        exercitationem. At velit minus tenetur commodi, aut iusto similique facere.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-bottom border-0">
                                <h4 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Como se inscrever para um curso?
                                    </button>
                                </h4>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis eos expedita
                                        laboriosam rerum sunt, nostrum error sed voluptate libero velit officiis fuga
                                        necessitatibus veritatis dolorum nulla provident numquam. Rem, aspernatur.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button style="font-size: 0.8em;"
                        class="btn d-block hvr-forward redTxt redTxt rounded-pill fw-bold mt-4">Mostrar todas as trilhas
                    </button>

                </div>

                <div class="col-md-6 py-5 px-5 redBg">
                    <h3 class="text-white fs-2 mt-4 mb-4 d-flex align-items-center flex-row"><span>Quer começar a sua
                            jornada de conhecimento?</span> <span class="w-25 fs-1">;)</span></h3>
                    <p class="text-white">É grátis!</p>
                    <button style="font-size: 0.8em;"
                        class="btn d-block redTxt border-white text-white rounded-pill w-100 fw-bold mt-4 px-5">Mostrar
                        todas as trilhas </button>

                </div>

            </div>

        </div>







        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="height: 80vh; background-color: #202020;">
                    <div class="d-flex py-5 align-items-center">
                        <img src="assets/logo.png" class="border-end " width="170" alt="">
                        <p class="text-white pt-4 ps-4 fs-4 lead d-flex align-items-center">
                            Escola Virtual
                        </p>
                    </div>

                    <div>

                        <ul class="mt-3">
                            <p class="lead text-decoration-none text-white  fs-5">Precisa de ajuda?</p>

                            <div class="mt-4">
                                <li style="margin-bottom: 15px;" class=" text-white"> <span
                                        class="bg-white px-4  py-3 rounded-pill me-2"></span> Perguntas frequentes</li>
                                <li style="margin-bottom: 15px;" class="d-flex align-items-center text-white"> <span
                                        class="bg-white px-2 d-flex me-2 align-items-center py-2 rounded-pill">

                                        <svg version="1.1" fill="#e20c32" height="35" width="35" id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="122.881px"
                                            height="122.88px" viewBox="0 0 122.881 122.88"
                                            enable-background="new 0 0 122.881 122.88" xml:space="preserve">
                                            <g>
                                                <path
                                                    d="M61.44,0c16.966,0,32.326,6.877,43.445,17.995s17.996,26.479,17.996,43.444c0,16.967-6.877,32.327-17.996,43.445 S78.406,122.88,61.44,122.88c-16.966,0-32.326-6.877-43.444-17.995S0,78.406,0,61.439c0-16.965,6.877-32.326,17.996-43.444 S44.474,0,61.44,0L61.44,0z M34.556,67.179c-1.313-1.188-1.415-3.216-0.226-4.529c1.188-1.313,3.216-1.415,4.529-0.227L52.3,74.611 l31.543-33.036c1.223-1.286,3.258-1.336,4.543-0.114c1.285,1.223,1.336,3.257,0.113,4.542L54.793,81.305l-0.004-0.004 c-1.195,1.257-3.182,1.338-4.475,0.168L34.556,67.179L34.556,67.179z M100.33,22.55C90.377,12.598,76.627,6.441,61.44,6.441 c-15.188,0-28.938,6.156-38.89,16.108c-9.953,9.953-16.108,23.702-16.108,38.89c0,15.188,6.156,28.938,16.108,38.891 c9.952,9.952,23.702,16.108,38.89,16.108c15.187,0,28.937-6.156,38.89-16.108c9.953-9.953,16.107-23.702,16.107-38.891 C116.438,46.252,110.283,32.502,100.33,22.55L100.33,22.55z">
                                                </path>
                                            </g>
                                        </svg>

                                    </span> Validação de certificado</li>
                                <li style="margin-bottom: 15px;" class=" text-white"> <span
                                        class="bg-white px-4  py-3 rounded-pill me-2"></span> Chatbot</li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8" style="height: 80vh;">

                    <div class="row">
                        <div class=" d-flex justify-content-center align-items-center"
                            style="height: 72vh; background-color: #363636;">

                            <div class="row w-100 d-flex justify-content-around">
                                <div class="col-md-2">
                                    <p class="lead text-white fs-6">Escola Virtual</p>
                                    <ul class="lst">
                                        <a href="" class="fw-bold text-muted text-decoration-none">Sobre</a>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <p class="lead text-white fs-6">Cursos</p>
                                    <ul class="lst">
                                        <li class="fw-bold mb-1"><a href="#" class=" text-muted">Administração</a></li>
                                        <li class="fw-bold mb-1"><a href="#" class=" text-muted">Contabilidade e
                                                Finança</a></li>
                                        <li class="fw-bold mb-1"><a href="#" class=" text-muted">Desenvolvimento Pessoal
                                                e Profissional</a></li>
                                        <li class="fw-bold mb-1"><a href="#" class=" text-muted">Educação</a></li>
                                        <li class="fw-bold mb-1"><a href="#" class=" text-muted">Tecnologia</a></li>
                                    </ul>
                                    <p class="lead text-white fs-6">Trilha de conhecimento</p>
                                </div>
                                <div class="col-md-3">

                                    <ul class="mt-3">
                                        <p class="lead text-decoration-none text-white  fs-5">Precisa de ajuda?</p>

                                        <div class="mt-4 d-flex">
                                            <a href="" class="text-black">
                                                <li class="d-flex align-items-center"> <span
                                                        class="bg-white px-3 d-flex me-2 align-items-center py-3 rounded-pill"><i
                                                            class="fab fa-facebook"></i></span></li>
                                            </a>
                                            <a href="" class="text-black">
                                                <li class="d-flex align-items-center"> <span
                                                        class="bg-white px-3 d-flex me-2 align-items-center py-3 rounded-pill"><i
                                                            class="fab fa-instagram"></i></span></li>
                                            </a>
                                            <a href="" class="text-black">
                                                <li class="d-flex align-items-center"> <span
                                                        class="bg-white px-3 d-flex me-2 align-items-center py-3 rounded-pill"><i
                                                            class="fab fa-whatsapp"></i></span></li>
                                            </a>
                                        </div>
                                    </ul>

                                </div>
                            </div>

                        </div>
                        <div class="redBg lead fs-6 d-flex align-items-center text-white justify-content-center"
                            style="height: 8vh;"> Inefor Corporate <i class="fas me-2 ms-2 fa-copyright"></i> 2022 -
                            Todos direitos reservados</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "cards",
            grabCursor: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false
            },
            pagination: {
                el: ".swiper-pagination",
                type: "fraction"
            }
        });
    </script>

<!-- SCROLL ANIMATION CODE -->
<script>
    function bgChanger() {
        if (this.scrollY > this.innerHeight / 8) {
            document.getElementById('asdfg').style.background = '#00005a';
        } else {
            document.getElementById('asdfg').style.background = 'transparent';
        }
    }
    window.addEventListener("scroll", bgChanger);
</script>

    <script src="js/js.js"></script>
    <script src="js/all.js"></script>
    <script src="bootstrap-5.1.3/bootstrap-5.1.3/dist/js/bootstrap.min.js"></script>
</body>

</html>